build: false

platform:
- x64

environment:
 PYTHON: C:\\Python37-x64
 PYTHON_VERSION: 3.7.4
 PYTHON_ARCH: 64

install:
- SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
- pip install mock
- pip install mypy
- pip install pillow
- pip install pylint
- pip install pytest
- pip install pytest-mock
- pip install requests

test_script:
- pylint bin/chroma-feedback chroma_feedback tests
- mypy bin/chroma-feedback chroma_feedback tests
- pytest tests
