build: false

platform:
- x64

environment:
 matrix:
 - PYTHON: C:\\Python37-x64
   PYTHON_VERSION: 3.7.4
   PYTHON_ARCH: 64

install:
- SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%

- python --version
- pip install requests
- pip install pylint
- pip install pytest
- pip install pytest-mock
- pip install mock
- pip install mypy

test_script:
- pylint bin/chroma-feedback chroma_feedback tests
- mypy chroma_feedback/provider --no-strict-optional
- pytest tests