[disable]

disable =
	bare-except,
	duplicate-code,
	global-statement,
	import-outside-toplevel,
	import-error,
	inconsistent-return-statements,
	missing-docstring,
	no-name-in-module,
	too-many-boolean-expressions

good-names =
	chroma-feedback,
	id,
	ip,
	SLUG

[format]

indent-string = '\t'
max-line-length = 280
