[disable]

disable =
	bad-continuation,
	bad-whitespace,
	bare-except,
	consider-using-sys-exit,
	duplicate-code,
	global-statement,
	import-outside-toplevel,
	inconsistent-return-statements,
	missing-docstring,
	protected-access,
	redefined-builtin,
	simplifiable-condition,
	unused-argument,
	wrong-import-position

good-names =
	chroma-feedback,
	id,
	ip

[format]

indent-string = '\t'
max-line-length = 280
