[disable]

disable =
	bad-continuation,
	bad-whitespace,
	consider-using-in,
	duplicate-code,
	import-error,
	invalid-name,
	len-as-condition,
	line-too-long,
	missing-docstring,
	protected-access,
	too-many-return-statements,
	undefined-variable,
	unused-argument

[format]

indent-string = '\t'
max-line-length = 140