dist: xenial

language: python

python:
- 3.7

install:
- pip install mock
- pip install mypy
- pip install pylint
- pip install pytest
- pip install pytest-cov
- pip install pytest-mock

script:
- pylint bin/chroma-feedback chroma_feedback tests
- mypy bin/chroma-feedback chroma_feedback tests
- pytest tests
