language: python

python:
- 3.4
- 3.5
- 3.6

install:
- pip install requests
- pip install pylint
- pip install pytest
- pip install pytest-cov
- pip install pytest-mock
- pip install python-coveralls

script:
- pylint bin/chroma-feedback src tests
- pytest tests --cov=src

after_success:
- coveralls